.buyarea {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mkplace{
  padding: 1rem;
}


.Mtitle {
  margin-top: 1rem;  
  color: white;
  text-align: center;
}
.catopts {
  display: flex;
  margin: 0.5rem;
  margin-top: 1.5rem;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-start;
}

label {
  margin: 0rem;
}

.cate {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input.catoli {
  height: 1.5rem;
  width: 1.5rem;
}

.range {
  display: flex;
}

.filters {
  padding-right: 1rem;
  padding-top: 1rem;
  border-right: 2px solid white;
  width: 30vw;
  /* height: 100vh; */
  /* position: fixed; */
  transition: 3s;
  color: white;
  display: none;
}
.fsbtns {
  padding: 1rem;
  margin: 3vh auto;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;

}


.fbtn {
  display: flex;
  border-radius: 3rem;
  width: 7rem;
  padding: 0.5rem;
  justify-content: center;
  border: 1px solid white;
  cursor: pointer;
  /* display: none; */
}
.fbtn:hover {
  background-image: linear-gradient(
    109.6deg,
    rgb(187, 0, 212) 11.2%,
    rgb(32, 38, 238) 91.1%
  );
}
.sbtn {
  
  display: flex;
  border-radius: 3rem;
  width: 7rem;
  padding: 0.5rem;
  justify-content: center;
  border: 1px solid white;
  cursor: pointer;
}
.sbtn:hover {
  background-image: linear-gradient(
    109.6deg,
    rgb(187, 0, 212) 11.2%,
    rgb(32, 38, 238) 91.1%
  );
}

.ftog{
    cursor: pointer;
}

.nftcards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2rem;
  column-gap: 2rem;
  height: 100%;
  overflow-y: auto;
}

.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
